*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./imagem/1315337\ \(1\).jpeg');
    background-position: center;
    background-size: cover;
    
}
.container{
    max-width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.644);
    padding: 30px;
}
h1{
    margin-bottom: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px#000;
}
label{
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 24px;

    
}
form input{
    height: 30px;
    margin-bottom: 20px;
    border: none;
    
}
.fundo{
    width: 400px;
    background-color: rgba(47, 79, 79, 0.63);
    border-radius: 10px;
    margin: auto;
    box-shadow: 2px 2px 3px#ffffffb9;
}
button{
    background-color: blue;
    height: 30px;
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 5px#000;
}
button:hover{
    background-color: rgb(66, 0, 128);
}

@media screen   and (max-width:667px){
    .container{
        max-width: 100%;
    }
    html{
        overflow-x: hidden;
    }
    #form{
        width: 90%;
    }
    #form input{
        width: 100%;
        
        
    }
    .fundo{
        display: block;
        width: 100%;
        padding: 0 0px;
    }
    
}